
html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
    margin: 0;
}

body {
    background-color: #191919;
    color: #eee;
    display: flex;
    width: 100%;
    flex: 1;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    max-width: 110ch;
    padding: 1rem;
    flex: 1;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

main p {
    width: min(100%, 72ch);
    line-height: 1.5em;
}

main ul {
    width: min(100%, 72ch);
}

footer {
    font-family: 'Open Sans';
    color: #aaa;
    justify-self: end;
    margin-bottom: 1rem;
}

h1, h2, h3 {
    font-family: 'Varela Round';
    text-align: center;
}

h1 {
    color: #ccc;
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h1::after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
    margin-top: .25em;
    width: 90%;
    margin-left: 5%;
}

strong, b {
    color: #f59982;
}

.posts-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
}

a {
    color: #f5c882;
    transition: color .05s;
}

a:hover {
    color: #82c8f5;
}

a.post-link, a.home-link {
    display: block;
    border: .05rem solid #888;
    border-radius: 999px;
    padding: 1em;
    padding-right: 1.5em;
    text-decoration: none;
    transition: background-color .05s, border-color .05s, color .05s;
}

a.post-link:hover, a.home-link:hover {
    background-color: #f5c882;
    border-color: #f5c882;
    color: #111;
}

a.post-link::before {
    content: '→';
    margin-right: .5em;
}

a.home-link::before {
    content: '←';
    margin-right: .5em;
}

.emoji {
    height: 1.25em;
    vertical-align: text-bottom;
}

code {
    font-family: 'Source Code Pro', monospace;
}

code:not(pre > code) {
    display: inline-block;
    background-color: #111;
    color: #ccc;
    border-radius: .25rem;
    padding: .25rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1em;
}

.line-numbers .line-numbers-rows {
    border-right: .15rem solid #555;
}

.line-numbers-rows > span::before {
    color: #555;
}

/* 1em is a bit too small for some reason in paragraphs */
p code:not(pre > code), a code:not(pre > code), ul code:not(pre > code), ol code:not(pre > code) {
    font-size: 1rem;
}

a code:not(pre > code) {
    color: inherit;
}

pre {
    display: inline-block;
    padding: 1rem;
    padding-right: 4rem;
    min-width: 0;
    max-width: min-content;
    overflow-x: auto;
    background-color: #111;
    color: #ccc;
    border-radius: .5rem;
    font-size: 1rem;
}

code .keyword {
    color: #f582c1;
}

code .class-name {
    color: #f5c882;
}

code .function {
    color: #8e82f5;
}

code .operator, code .punctuation {
    color: #f3f3f3;
}

code .boolean {
    color: #f59982;
}

code .number {
    color: #f59982;
}

code .string {
    color: #82f59f;
}

code .comment {
    color: #999;
}

code .property {
    color: #f5d182;
}

code .macro {
    color: #82f5ef;
}

code .macro .keyword {
    color: #82f5ef;
}

h1:first-of-type {
    margin-bottom: 1rem;
}

h1:first-of-type + blockquote {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

h1:first-of-type + blockquote > p {
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #aaa;
    width: auto;
}
